* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 10px;
  background: #a4bcff;
  text-transform: capitalize;
  color: #174164;
  flex-wrap: wrap;
}

.header {
  padding: 30px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.header h1 {
  font-size: 50px;
  color: #8a0000;
}
.header  p {
  color: #8f0000;
}

.link {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.link a {
  align-items: center;
  float: left;
  color: #ffffff;
  padding: 18px 16px;
  text-decoration: none;
}

.link a:hover {
  background-color: #ddd;
  color: black;
}

.leftpage {   
  flex-direction: column;
  float: left;
  width: 75%;

}
.first {
  background-color: rgb(117, 139, 235);
  padding: 20px;
  margin-top: 20px;
}
.second {
  background-color: rgb(117, 139, 235);
  padding: 20px;
  margin-top: 15px;
}
.photo {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px;
  margin: 5px;
  align-items: flex-start;
}


.rightpage {
  flex-direction: column;
 width: 25%;
  padding-left: 20px;
  float: right;
}

.third {
  background-color: rgb(117, 139, 235);
  padding: 20px;
  margin-top: 20px;
}
.forth {
  background-color: rgb(117, 139, 235);
  padding: 20px;
  margin-top: 20px;
  flex-direction: column;
}
.fifth {
  background-color: rgb(117, 139, 235);
  padding: 30px;
  margin-top: 20px;
}

.all:after {
  display: flex;
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: rgb(117, 139, 235);
  margin-top: 20px;
}


